---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProductIntro from '../components/ProductIntro.astro';
import ProductFeatures from '../components/ProductFeatures.astro';
import ProductExplanation from '../components/ProductExplanation.astro';
import ProductStats from '../components/ProductStats.astro';
import ProductTestimonials from '../components/ProductTestimonials.astro';

const title = 'KLASA - a revolutionary learning experience platform';
const og = {
	title,
	description:
		'Dive into the world of atomic content, contextual discussions and maximum learning effectivness',
	image: '',
};
---

<Layout
	title="KLASA - revolutionary e-learning platform for fully supported, active and self-paced learning"
	og={og}
>
	<div class="bg-white flex-1">
		<!-- <div class="bg-gradient-to-b from-blue-200 via-blue-100 to-white"> -->
		<div
			class="isolate bg-[url('/images/hero__pattern.svg')] bg-top bg-cover bg-no-repeat"
		>
			<div class="bg-gradient-to-t from-white to-transparent">
				<Hero />
				<ProductIntro />
			</div>
		</div>
		<main>
			<ProductFeatures />
			<ProductExplanation />
			<ProductStats />
			<ProductTestimonials />
		</main>
	</div>
</Layout>
