---
import Layout from '../layouts/Layout.astro';
import TopNav from '../components/TopNav.astro';
import Hero from '../components/Hero.astro';
import ProductIntro from '../components/ProductIntro.astro';
import ProductExplanation from '../components/ProductExplanation.astro';
import ProductStats from '../components/ProductStats.astro';
import ProductTestimonials from '../components/ProductTestimonials.astro';
import ContactCta from '../components/ContactCta.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<div class="isolate bg-white">
		<TopNav />
		<main>
			<Hero />
			<ProductIntro />
			<ProductExplanation />
			<ProductStats />
			<ProductTestimonials />
			<ContactCta />
		</main>
		<footer class="bg-white">
			<Footer />
		</footer>
	</div>
</Layout>
