<div class="bg-white">
	<div class="mx-auto max-w-7xl py-12 px-4 text-center sm:px-6 lg:py-16 lg:px-8">
		<h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
			<span class="block">Looking for a solution for your e-learning project?</span>
		</h2>
		<p class="text-xl font-bold tracking-tight text-gray-900 sm:text-2xl mt-2">
			<span class="block"
				>KLASA is currently in a closed-beta stage. Contact us and let's see if we're a match!</span
			>
		</p>
		<div class="mt-8 flex justify-center">
			<div class="inline-flex rounded-md shadow">
				<a
					href="mailto:contact@klasa.io"
					class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-5 py-3 text-base font-medium text-white hover:bg-indigo-700"
					>Contact us</a
				>
			</div>
		</div>
	</div>
</div>
