---
---

<div class="relative px-6 lg:px-8">
	<div class="mx-auto max-w-3xl pt-20 pb-32 sm:pt-48 sm:pb-40">
		<div>
			<div class="mb-8 flex justify-center hidden">
				<div
					class="relative overflow-hidden rounded-full py-1.5 px-4 text-sm leading-6 ring-1 ring-gray-900/10 hover:ring-gray-900/20"
				>
					<span class="text-gray-600">
						We're seeking funding! <a href="mailto:investors@klasa.io" class="font-bold text-blue-600"
							><span class="absolute inset-0" aria-hidden="true"></span>Contact&nbsp;us&nbsp; <span
								aria-hidden="true">&rarr;</span
							>
						</a>
					</span>
				</div>
			</div>
			<div>
				<h1 class="text-4xl font-black tracking-tight sm:text-center sm:text-6xl">E-learning reimagined</h1>
				<p class="mt-6 text-lg leading-8 text-gray-600 sm:text-center">
					KLASA&nbsp;is&nbsp;a&nbsp;<strong>revolutionary</strong>&nbsp;platform for&nbsp;<strong
						>fully&nbsp;supported</strong
					>,&nbsp;<strong>active</strong> and&nbsp;<strong>self&#8209;paced</strong>&nbsp;e&#8209;learning.
				</p>
				<div class="mt-8 flex gap-x-4 sm:justify-center">
					<a
						href="#product"
						class="inline-block rounded-lg bg-blue-600 px-4 py-1.5 text-base font-bold leading-7 text-white shadow-sm ring-1 ring-blue-600 hover:bg-blue-700 hover:ring-blue-700"
					>
						Learn more
						<span class="text-blue-200" aria-hidden="true">&rarr;</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
