<div class="bg-white py-16 lg:py-24">
	<div class="relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		<div
			class="relative overflow-hidden rounded-xl bg-blue-500 py-24 px-8 shadow-2xl lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-16"
		>
			<div class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
				<img src="/images/testimonials_1.jpg" alt="" class="h-full w-full object-cover" />
			</div>
			<div class="relative lg:col-span-1">
				<img
					class="h-6 w-auto"
					src="https://wiecejnizlek.pl/wp-content/uploads/2021/09/logo-horizontal-white.svg"
					alt=""
				/>
				<blockquote class="mt-8 text-white">
					<p class="text-l font-medium sm:text-xl">
						KLASA allowed us to create the most sophisticated educational experience for medical students.
						It's hard to believe there was a time we had to study without it.
					</p>
					<p class="flex flex-col font-medium mt-4">
						<span><strong>Wojciech Zaremba, MD</strong></span>
						<span
							>Head of Education @ <a
								href="https://wnl.pl"
								target="_blank"
								class="text-blue-100 hover:text-blue-200">wnl.pl</a
							>
						</span>
					</p>
					<footer class="mt-8">
						<p class="text-base font-medium sm:text-l">
							60% of all medical students in Poland use KLASA to learn with <a
								href="https://wnl.pl"
								target="_blank"
								class="text-blue-100 hover:text-blue-200">wnl.pl</a
							>.
						</p>
					</footer>
				</blockquote>
			</div>
		</div>
	</div>
</div>
