<a id="product"></a>
<div class="relative overflow-hidden pt-16 sm:pt-24 lg:pt-32">
	<div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
		<div>
			<h2 class="text-lg font-black text-blue-600">Why revolutionary?</h2>
			<p class="mt-2 text-3xl font-black tracking-tight text-gray-900 sm:text-4xl">Introducing atomic content</p>
			<p class="mx-auto mt-5 max-w-prose text-xl text-gray-500">
				Every slide, every annotation, every question is an independent entity and can be connected with other
				content. It can be tagged. It can be commented on. And that is the key.
			</p>
		</div>
		<div class="mt-12 mb-8">
			<img
				class="rounded-lg shadow-xl ring-1 ring-black ring-opacity-5"
				src="/images/klasa_screenshot.png"
				alt=""
			/>
		</div>
	</div>
</div>
