---
---

<div class="px-6 pt-6 lg:px-8">
	<div>
		<nav class="flex h-9 items-center justify-between" aria-label="Global">
			<div class="flex lg:min-w-0 lg:flex-1" aria-label="Global">
				<a href="#" class="-m-1.5 p-1.5">
					<span class="sr-only">KLASA</span>
					<img class="h-6 sm:h-8" src="/images/klasa-logo-horizontal.svg" alt="KLASA's logo" />
				</a>
			</div>
			<div class="hidden lg:flex lg:min-w-0 lg:flex-1 lg:justify-center lg:gap-x-12">
				<a href="#product" class="font-bold text-gray-900 hover:text-gray-900">Product</a>

				<a href="#solutions" class="font-bold text-gray-900 hover:text-gray-900">Solutions</a>

				<a href="#testimonials" class="font-bold text-gray-900 hover:text-gray-900">Testimonials</a>
			</div>
			<div class="flex min-w-0 flex-1 justify-end">
				<a
					href="mailto:contact@klasa.io"
					class="inline-block rounded-lg px-3 py-1.5 text-sm font-bold leading-6 text-gray-900 shadow-sm ring-1 ring-gray-900/10 hover:ring-gray-900/20"
					>Contact us</a
				>
			</div>
		</nav>
	</div>
</div>
