---
import Layout from '../../layouts/Layout.astro';
import ContainerNarrow from '../../components/layout/ContainerNarrow.astro';
import CaseStudyCard from '../../components/case-studies/CaseStudyCard.astro';
import PageHeader from '../../components/layout/PageHeader.astro';

const allPosts = await Astro.glob('./*.md');

const og = {
	title: 'Case studies - See how KLASA distrupted different domains',
	description:
		'From high school education, to practical courses for medical graduates - KLASA is at heart of some of the most innovative e-learning projects.',
	image: 'https://klasa.io/images/klasa_io_atomic_content.png',
};
---

<Layout title="Case studies - KLASA - Learning experience platform" og={og}>
	<div class="flex flex-col">
		<PageHeader
			title="Case studies"
			subtitle="See how KLASA disrupted different domains"
		/>
		<ContainerNarrow>
			{
				allPosts
					.sort(
						(a, b) =>
							new Date(b.frontmatter.publishedAt).getTime() -
							new Date(a.frontmatter.publishedAt).getTime()
					)
					.map((post) => <CaseStudyCard url={post.url} data={post.frontmatter} />)
			}
		</ContainerNarrow>
	</div>
</Layout>
